.progetto-card {
    position: relative;
    overflow: hidden;
    background-color: rgb(121, 129, 123);
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.progetto-card img {
    width: 150%;
    height: 150%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.progetto-card:hover img {
    transform: scale(1.05);
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(121, 129, 123, 0.5);
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    height: 0;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.overlay span {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.progetto-card:hover .overlay {
    height: 40%;
    opacity: 1;
}

#griglia-progetti {
    --grid-columns: 9;
    --grid-gap: 20px;
    --grid-padding: 100px;
    --grid-max: min(100vw, 1800px);
    --grid-col: calc((var(--grid-max) - var(--grid-padding) - (var(--grid-columns) - 1) * var(--grid-gap)) / var(--grid-columns));
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: var(--grid-col);
    gap: var(--grid-gap);
    padding: 20px 50px 50px; /* Aggiungi più spazio in cima */
    max-width: 1800px;
    margin: 0 auto;
}

/* RETTANGOLO */
.progetto-card:nth-child(8n),
.progetto-card:nth-child(8n+1) {

    grid-column: span 3;
    grid-row: span 2; 
}
/* QUADRATO */
.progetto-card:not(:nth-child(8n)):not(:nth-child(8n+1)) {
    grid-column: span 2;
    grid-row: span 2;
}


.titolo-progetti {
    text-align: center;
    color: #732F3D;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
}


body {
    background-color: #ffffff !important;
}

@media (max-width: 760px) {
    :root {
        --project-card-height: 250px;
    }

    #griglia-progetti {
        display: flex;
        flex-direction: column; /* Disporre le card in una sola colonna */
        align-items: center;
        margin-top: 40px;
        gap: 20px;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .progetto-card {
        width: 100%;
        max-width: 600px; /* Limita la dimensione massima */
        aspect-ratio: 1 / 1; /* Quadrato adattivo */
        height: auto;
    }

    .progetto-card img {
        object-fit: cover;
        width: 165%;
        height: 165%;
    }
    .progetto-card:nth-child(odd) {
        grid-column: span 1;
        grid-row: span 2; 
        height: auto;
    }
    .overlay {
      transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
      height: 0;
      opacity: 0;
      background: rgba(121, 129, 123, 0.5);
    }

    .overlay.is-visible {
      height: 40%;
      opacity: 1;
    }
      
}
