html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6, p, a, label, input, textarea, button, .contact-container, .contact-left, .contact-content, .contact-text, .contact-details, .popup-heading, #terms-and-conditions, .text-body {
    font-family: 'Bodoni 72', serif !important;
}

body {
    background-color: #EEECE6 !important; /* Colore di sfondo */
    font-family: 'Bodoni 72', serif !important;
    color: #401d23 !important;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    height: 100%;

}

.contact-container {
    display: flex;
    flex-direction: row; /* Due colonne: foto a sinistra e contenuto a destra */
    gap: 20px;
    max-width: 1100px;
    width: 100%;
    padding-top: 40px; /* Padding in alto per la container */
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px; /* Distanza tra il titolo e la foto */
    width: 38%; /* La colonna di sinistra occupa il 30% della larghezza */
    padding-top: 50px; /* Aggiunge distanza dal margine superiore */
}

.contact-left h1 {
    font-size: 24px;
    font-weight: bold;
    color: #4A2C2A;
}

.contact-image img {
    width: 100%;
    max-width: 500px;
    min-height: 410px;   /* Aumenta l'altezza minima */
    height: auto;
    display: block;
    object-fit: cover;   /* Mantiene il ritaglio proporzionato */
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-top: 20px; /* Padding in alto per il contenuto */

}

.contact-text {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;  /* Aggiungi questo per spostare il testo verso destra */
}

.contact-text h1 {
    font-size: 24px;
    font-weight: bold;
    color: #401d23;
}

.contact-form {
    background: transparent;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    box-shadow: none;
    max-width: 800px;

}

.form-group {
    display: flex;
    gap: 10px;
    width: 100%;
}

input {
    resize: vertical; /* Permette il ridimensionamento solo in verticale */
    width: 100%;
    padding: 10px;
    border: none;
    background: white;
    font-size: 16px;
    color: #401d23;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Distanza tra i campi */
    max-width: 900px;

}

textarea {
    resize: vertical; /* Permette il ridimensionamento solo in verticale */
    width: 100%;
    padding: 10px;
    border: none;
    background: white;
    font-size: 16px;
    color: #401d23;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Distanza tra i campi */
    max-width: 900px;
    min-height: 50px;

}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Checkbox */


.checkbox-container input[type="checkbox"] {
    appearance: none;
    width: 14px;  /* Aumenta un po' la larghezza */
    height: 14px; /* Aumenta un po' l'altezza */
    border: 2px solid #4A2C2A;  /* Mantieni il bordo sottile */
    border-radius: 3px;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 2px;   /* Riduci lo spazio dall'alto */
    left: 2px;  /* Riduci lo spazio dai lati */
    width: 16px;  /* Aumenta la larghezza del quadratino interno */
    height: 16px; /* Aumenta l'altezza del quadratino interno */
    background-color: #4A2C2A; /* Colore marrone */
    border-radius: 2px; /* Mantieni gli angoli leggermente arrotondati */
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Bottone invia a destra */
.form-group button {
    margin-left: auto;
    background-color: white;
    border: 2px solid #4A2C2A;
    color: #4A2C2A;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #4A2C2A;
    color: white;
}

/* Dettagli di contatto */
.contact-details {
    font-size: 14px;
    color: #4A2C2A;
    text-align: left; /* Centra il testo sotto l'immagine */
}

.contact-details p {
    margin: 5px 0; /* Spazio tra le righe */
}

.contact-details a {
    color: inherit;
    text-decoration: none;
}

.contact-details i {
    color: #4A2C2A;  /* Colore dell'icona */
    margin-right: 10px;  /* Distanza tra l'icona e il testo */
}

.contact-details img {
    width: 30px;  /* Larghezza dell'icona */
    height: 30px; /* Altezza dell'icona */
    border: 2px solid #4A2C2A;  /* Colore del bordo uguale a quello del testo */
    padding: 3px;  /* Distanza tra il bordo e l'icona */
    color: #4A2C2A;  /* Colore del bordo e dell'icona */
}

.popup-heading {
    font-size: 25px;
    color: #401d23;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
}

#terms-and-conditions {
    font-size: 9px;
    color: #401d23;
    text-align: center;   
    margin-top: 20px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}


#terms-and-conditions ul {
    display: inline-block;
    margin: 0 auto;        /* Centra la lista */
    padding-left: 1rem;
}


#terms-and-conditions a {
    text-decoration: underline;
}

/* Imposta il colore di tutto il testo a #401d23 */
body,
.contact-container,
.contact-left,
.contact-left h1,
.contact-content,
.contact-text,
.contact-text h1,
.contact-form,
.form-group,
input,
textarea,
.contact-details,
.contact-details p,
.contact-details a,
.contact-details i,
.contact-details img,
.popup-heading,
#terms-and-conditions,
#terms-and-conditions ul,
#terms-and-conditions a,
.text-body {
    color: #401d23 !important;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column; /* Dispone tutto in colonna */
        align-items: center; /* Centra gli elementi */
        gap: 20px; /* Spazio tra gli elementi */
    }

    .contact-left {
        width: 100%; /* La colonna di sinistra occupa tutta la larghezza */
        align-items: center; /* Centra il contenuto */
        padding-top: 20px; /* Riduci il padding superiore */
    }

    .contact-image img {
        width: 300px; /* Aumenta la dimensione della foto nella versione mobile */
        height: 400px;
        object-fit: contain ;   /* Mantiene il ritaglio proporzionato */

    }

    .contact-details {
        text-align: center; /* Centra il testo sotto l'immagine */
    }

    .contact-content {
        width: 100%; /* La colonna di destra occupa tutta la larghezza */
        padding-top: 0; /* Rimuovi il padding superiore */
    }

    .contact-text {
        margin-left: 0; /* Rimuovi il margine sinistro */
        text-align: left; /* Centra il testo */
        padding: 0 20px; /* Aggiungi padding a destra e sinistra */
    }
        .contact-text h2{
        text-align: center;
        }    
    .contact-text p {
        text-align: center; /* Centra il testo */
    }

    .contact-form {
        width: 100%; /* Il form occupa tutta la larghezza */
        max-width: 100%; /* Rimuovi il limite massimo di larghezza */
    }

    textarea {
        resize: vertical; /* Permette il ridimensionamento solo in verticale */
        width: 100%;
        padding: 10px;
        border: none;
        background: white;
        font-size: 16px;
        color: #401d23;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px; /* Distanza tra i campi */
        max-width: 900px;
        min-height: 150px; /* Aumenta l'altezza minima del campo */
    }
    #terms-and-conditions {
    font-size: 9px;
    color: #401d23;
    text-align: center;   
    margin-top: 20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    }


#terms-and-conditions ul {
    display: inline-block;
    margin: 0 auto;        /* Centra la lista */
    padding-left: 1rem;
}


#terms-and-conditions a {
    text-decoration: underline;
}
}