body {
    font-family: 'Bodoni Moda', serif;
    background-color: #EEECE6 !important; /* Colore di sfondo */
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0px 0px;
}

.testo {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

.carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 0px;
    padding: 60px;
    padding-top: 40px;
}

.hero-servizi {
    position: relative;
    z-index: 1;
    padding: 50px 20% 0px;
    color: #6d1b1b;
    text-align: center;
    background-color: #EEECE6 !important;
    height: 70px;
}

.hero-servizi h1 {
    font-size: 2.2rem;
    margin: 0;
    font-weight: lighter;
    color: #6d1b1b;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card {
    position: relative;
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(143, 142, 124, 0.5);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out, transform 0.3s ease-in-out;
    height: 80px;
    overflow: hidden;
    padding-top: 20px;
}

.card:hover .overlay {
    height: 150px;
    padding: 20px;
}

.overlay-text {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.plus {
    width: 40px;
    height: 40px;
    background-color: #eae5dc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-top: 30px;
}

.card:hover .plus {
    opacity: 1;
}

.plus::before,
.plus::after {
    content: "";
    position: absolute;
    background-color: #401d23;
    border-radius: 4px;
}

.plus::before {
    width: 18px;
    height: 4px;
}

.plus::after {
    width: 4px;
    height: 18px;
}

.nav-buttons {
    position: absolute;
    right: 5%;
    display: flex;
    gap: 10px;
}

.nav-buttons button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.prev {
    background-color: #401d23;
}

.next {
    background-color: #401d23;
}

.nav-buttons button i {
    color: #EAE5DC;
    font-size: 1.2rem;
}

.nav-buttons button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.cta-container {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #EEECE6 !important;
    border-radius: 10px;
}

.cta-container p {
    font-size: 1.1rem;
    color: #401d23;
    margin-bottom: 30px;
    margin-top: -50px;
}

.cta-button {
    background-color: white;
    font-weight: bold;
    color: #432127;
    border: 2px solid #401d23;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #dfdbdc;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    padding: 0px 0px;
    transform: translate(-50%, -50%);
    background: #f8f4f0;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    width: 487.5px;
    height: 650px;
    z-index: 1000;
    flex-direction: column; /* Organizza tutto in colonna */
    overflow: hidden; /* Nasconde gli overflow per mantenere i bordi arrotondati */


}
.popup-body {
    padding: 0px 20px;

    margin-bottom: 20px;
    overflow-y: auto;
}
.popup-header {
    display: flex;
    justify-content: center;
    align-items: center; /* centra verticalmente */
    background: rgba(143, 142, 124, 0.7);
    color: white;
    width: 100%;
    margin: 0;
    padding: 0 40px; /* Solo padding laterale */

    position: relative; /* Per posizionare il pulsante di chiusura */
    height: 80px; /* Altezza fissa */
    border-radius: 20px 20px 0 0; /* Arrotonda solo gli angoli superiori */
}

.popup-header h2 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 100 ;
    width: 100%; /* Occupa tutto lo spazio disponibile */
    font-family: 'Bodoni 72', 'Bodoni', serif;
}

/* Sostituisci lo stile esistente del .close con questo: */
.close {
    width: 35px;
    height: 35px;
    background-color: #eae5dc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    z-index: 11;
}

.close::before,
.close::after {
    content: "";
    position: absolute;
    background-color: #401d23;
    border-radius: 4px;
    width: 16px;
    height: 3px;
    transition: all 0.3s ease;
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}

.close:hover {
    background-color: #dfdbdc;
    transform: scale(1.1);
}

.close:hover::before,
.close:hover::after {
    background-color: #732F3D;
}

.popup-text {
    font-size: 0.9rem;
    color: #401d23;
    margin-top: 30px;
    line-height: 1.6;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Bodoni 72 Book', 'Bodoni', serif;

}

.popup-text p {
    margin-bottom: 1.2em; /* Aumenta lo spazio tra i paragrafi */
}

.popup-text ul li {
    margin: 0.6em; /* Aumenta lo spazio tra i punti */
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: none;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
}
.blurred #main-header {
    filter: blur(2px);
    pointer-events: none;
    background: rgba(0, 0, 0, 0.3) !important; /* Sostituisci con il colore che preferisci */

}
.blurred .container {
    filter: blur(2px);
    pointer-events: none;
}


  

@media (max-width: 768px) {
    .cta-container p {
        font-size: 0.9rem;
        line-height: 1.4;
    }

    .popup-header {
        display: flex;
        justify-content: center;
        align-items: center; /* centra verticalmente */
        height: 80px;
        padding: 0 20px; /* padding solo laterale */
    }

    .popup-header h2 {
        font-size: 1.2rem;
        padding-top: 0; /* rimuovi padding-top */
        margin: 0;
    }
    .popup-heading {
        font-size: 16px;
      }
    .nav-buttons {
        top: 570px;
    }
    .popup-body {
        overflow-y: auto;
        flex: 1;
        padding: 20px 20px; /* Riduci padding per schermi stretti */
    }

    .popup {
        height: 80vh; /* Puoi anche aumentare leggermente l'altezza su mobile */
    }

    .popup-text {
        font-size: 0.8rem;
        color: #401d23;
        margin-top: 20px;
        line-height: 1.6;
        padding-left: 30px;
        padding-right: 30px;
    }

}