.progetto-card {
    position: relative;
    overflow: hidden;
    background-color: #c3a299;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progetto-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.progetto-card:hover img {
    transform: scale(1.05);
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(115, 49, 61, 0.8);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    height: 0;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.progetto-card:hover .overlay {
    height: 50%;
    opacity: 1;
}

#griglia-progetti {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 340px; /* Riduci l'altezza base */
    gap: 20px;
    padding: 40px;
    max-width: 1800px;
    margin: 0 auto;
}

/* Primo progetto meno alto */
.progetto-card:nth-child(1) {
    grid-column: span 3;
    grid-row: span 1; /* Ridotto da 2 a 1 */
}

.progetto-card:nth-child(2),
.progetto-card:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;
}
.progetto-card:nth-child(4) {
    grid-column: span 2;
    grid-row: span 1;
}


.progetto-card:nth-child(5){
    grid-column: span 3;
    grid-row: span 1;
}

.progetto-card:nth-child(6) {
    grid-column: span 2;
    grid-row: span 1;
}

.titolo-progetti {
    text-align: center;
    color: #732F3D;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
}
