* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 600px; /*should be the same height as the images*/
  max-width: 600px; /* Dimensione massima */
  margin: 0 auto; /* Lo centra orizzontalmente */
  overflow: hidden
}

.img-comp-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;    /* centra verticalmente */
  justify-content: center;
  overflow: hidden
}

.img-comp-img img {
  display: block;
  width: 600px;
  height: 600px;
  object-fit: fill; /* Adatta l'immagine senza distorcerla */

}

.img-comp-img.img-comp-overlay {
  background: #EEECE6; /* Sostituisci #fff con il colore che vuoi */
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: #8f8e7c; /* Colore che spezza */
  opacity: 0.95;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  font-weight: bold;
  /* Centra il cerchio verticalmente rispetto al container */
  top: 50%;
  transform: translateY(-50%);
}

.img-comp-slider::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -280px; /* metà di 600px - 40px/2 */
  transform: translateX(-50%);
  background: #8f8e7c; /* Stesso colore del cerchio */
  z-index: -1;
  border-radius: 3px;
}

.img-comp-slider::after {
  content: "\25C0   \25B6"; /* ◀   ▶ */
  font-size: 10px;
  font-family: "Chalkboard", Arial, sans-serif;
  color: white;
  position: relative;
  z-index: 1;
}

.slider-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-bar {
  width: 20px;
  height: 4px;
  background-color: white;
}

.slider-arrow {
  position: absolute;
  font-size: 20px;
  color: white;
}

.arrow-left {
  left: 150px;   /* distanza dal bordo sinistro */
}

.arrow-right {
  right: 150px;  /* distanza dal bordo destro */
}

@media (max-width: 600px) {
  .img-comp-container {
    height: 100vw; /* container quadrato, cambia se le immagini sono rettangolari */
    max-width: 100vw;
    max-height: 100vw;
        width: 100% !important;
    height: 100% !important;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #fff;
  }
  .img-comp-img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .img-comp-img img {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
 /* oppure cover */
    display: block !important;
    pointer-events: none !important;
  }
  .img-comp-slider {
    z-index: 20;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}